body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.todo-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

.task-list-container {
    margin-bottom: 20px;
}

.add-task,
.task-list li {
    position: relative;
    margin-bottom: 10px;
}

.add-task input,
.task-list li input {
    width: calc(100% - 40px);
    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.add-task input::placeholder,
.task-list li input::placeholder {
    color: #aaa;
    opacity: 0.7;
}

.add-task input:focus,
.task-list li input:focus {
    background-color: #fff;
    color: #000;
}

.add-task button,
.task-list li .delete-task {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-task button::before,
.add-task button::after,
.task-list li .delete-task::before,
.task-list li .delete-task::after {
    content: '';
    position: absolute;
    background-color: #696969;
}

.add-task button::before,
.task-list li .delete-task::before {
    width: 18px;
    height: 1px;
}

.add-task button::after,
.task-list li .delete-task::after {
    width: 1px;
    height: 18px;
}

.task-list li .delete-task::before {
    transform: translate(0%, -50%) rotate(45deg);
}

.task-list li .delete-task::after {
    transform: translate(-50%, 0%) rotate(45deg);
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-list li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: none;
    color: #333;
}

.task-list li:last-child {
    border-bottom: none;
}

.task-list li .task-text {
    flex: 1;
    margin-left: 10px;
}

.task-list li .complete-task {
    cursor: pointer;
    width: 21px;
    height: 21px;
    border: 1px solid #696969;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.task-list li .complete-task::before {
    content: '';
    width: 17px;
    height: 17px;
    background-color: '#C0C0C0';
    border-radius: 50%;
}

.task-list li .complete-task.completed::before {
    background-color: #C0C0C0;
}